.grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list {
    display: flex;
    flex-direction: column;
}

.searchBtn{
    background: rgb(219, 214, 214);
    border:0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
}